/*  ###########################################################
    Author: MrutyumajayaRao.Chenn<mchennu@miraclesoft.com>
    ###########################################################
*/

.dashBoardGridTable
{
	     border-spacing: 0;
        background-color: #104E8B;
}



.dashBoardGridTable a
{
    color: purple;
   text-decoration: none;
}
.dashBoardGridTable td{
    border:     0.1em solid #87CEFA;
    padding: 6px;

}


.gridTable
{
	border:     0px solid #27408B;
        background-color: #104E8B;
}

.gridHeader
{
	font-family:       Arial,Verdana, Geneva, Tahoma, Trebuchet MS,Sans-serif;
	font-size:         10px;
        letter-spacing:    .1em;
        font-weight:	    bold;
        color:             #fff;
	background: 	   #6C73B1 url(../images/DBGrid/bg_table_heading.jpg) repeat top left;
        padding:           7px 6px 7px 6px;
        background-color:  transparent;
        
}

.gridRowEven
{
	color: #000000;
        background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat  top center ;
	/*background-color: #e4e4d7;*/
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;
}


.gridRowEvenRed
{
	color: #E3170D;        
	background-color: #ff9999;
        /*background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat  top center ;*/
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;
}

.gridRowEvenGreen
{
	color: #008000;        
	background-color: #7fff7f;
        /*background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat  top center ;*/
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;
}
.gridRowEvenBlue
{
	color: #003F87;        
	background-color: #87CEFA;
        /*background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat  top center ;*/
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;
}
.gridRowEvenYellow
{
        color: #000000;
	background-color: #FFFF00;
        /*background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat  top center ;*/
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;


}

.gridRowOdd
{
	color: #000000;
        background: #6C73B4 url(../images/DBGrid/bg_table_td_two.jpg) repeat top center ;
	/*background-color: #f4f4e7;*/
	font-family: Arial,Verdana, Tahoma, "Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: normal;
	height: 20px;
}

.gridPageOfPage
{
	color: #ffffff;
        background-color: transparent;
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: bold
}

.gridPager
{
	/*background: #6C73B4 url(../images/DBGrid/grid_bottam.jpg) repeat-x left bottom;*/
        color: #ffffff;
        background-color: transparent;
	font-family: Arial,Verdana, Tahoma,"Sans Serif", "Times New Roman";
	font-size: 8pt;
	font-weight: bold
}

.gridSort
{
	color: #ffffff;
	background-color: transparent;
	text-decoration: none
}

.gridFooter
{
        font-family:       Arial,Verdana, Geneva, Tahoma, Trebuchet MS,Sans-serif;
	font-size:         10px;
        letter-spacing:    .1em;
        font-weight:	    bold;
        color:             #fff;
	background: 	   #6C73B1 url(../images/DBGrid/grid_bottam.jpg) repeat bottom left;
        padding:           7px 6px 7px 6px;
        background-color:  transparent;
}
.dashBoardgridHeader
{
	font-family:       Arial,Verdana, Geneva, Tahoma, Trebuchet MS,Sans-serif;
	font-size:         10px;
        letter-spacing:    .1em;
        font-weight:	    bold;
        color:             #fff;
	background: 	   #6C73B1 url(../images/DBGrid/bg_table_heading.jpg) repeat top left;
        padding:           7px 6px 7px 6px;
        background-color:  transparent;
        white-space:nowrap;
         border:     0.01em solid  #87CEFA;
}